@font-face {
    font-family: "Orbitron-regular"; 
    src: url("../font/Orbitron-Regular.ttf") format("truetype"); 
    font-style: normal; 
}
  
@font-face {
    font-family: "Orbitron-semibold"; 
    src: url("../font/Orbitron-SemiBold.ttf") format("truetype"); 
    font-style: normal; 
} 
  
@font-face {
    font-family: "Orbitron-bold"; 
    src: url("../font/Orbitron-Bold.ttf") format("truetype"); 
    font-style: normal; 
}

.footer{
    position: relative;
    z-index: 2;
    width: 100%;
    height: auto;
    background: #222730;
    padding: 130px 0px 175px 0px;
}

.container{
    max-width: 87vw;
    margin: 0 auto;
}

.footer__items{
    display: flex;
    gap: 150px;
    align-items: center;
}

.footer__item_logo_and_text{
    width: 19vw;
    display: flex;
    flex-direction: column;
    gap: 35px;
}

.text{
    font-family: "Orbitron-regular"; 
    font-size: 1vw;
    color: #999;
    line-height: 25px;
}

.footer_nav{
    display: flex;
    flex-direction: column;
    list-style-type: none;
}

.named_nav{
    color: white;
    font-family: "Orbitron-regular"; 
    font-size: 1.1vw;
    margin-bottom: 23px;
}

.footer_nav > li {
    font-family: "Orbitron-regular"; 
    color: #999;
    font-size: 1vw;
    line-height: 37px;
}